$backgroundColor: #eeeeee;
$spacing: 6rem;
$links: #35a8ff;

@import "libs/skeleton";

* {
    box-sizing: border-box;
}

html {
    background: $backgroundColor;
    margin: 0;
    padding: 0;
}
body {
    padding: $spacing;
}

a {
    color: $links;
    text-decoration: none;
    &:hover, &:focus {
        color: darken($links, 25%);
    }
}

#form {
    padding-left: 150px;
    padding-right: 150px;

    @media screen and (max-width: 800px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.logo {
    position:absolute;
    max-width:100%;
    height:600px;
}

.homepage {
    position:absolute;
    text-align:center;
}

.content {
    background: #fff;
    position:absolute;
    width: 100%;
    padding: $spacing;
}

#logoimg {
    width: 300px;
    height: 300px;

    @media screen and (max-width: 500px) {
        width: 250px;
        height: 250px;
    }
}

.project {
    width: 400px;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    @media screen and (max-width: 500px) {
        width: 275px;
        height: 400px;
    }

    .projectContent {
        display: inline-block;
        background: #f9f9f9;
        width: 90%;
        overflow-y: hidden;
        height: 280px;
        -moz-transition: height 200ms ease-out;
        -webkit-transition: height 200ms ease-out;
        -o-transition: height 200ms ease-out;
        transition: height 200ms ease-out;

        .thumbnailContainer {
            width: 100%;
            height: 200px;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            -moz-transition: height 200ms ease-out;
            -webkit-transition: height 200ms ease-out;
            -o-transition: height 200ms ease-out;
            transition: height 200ms ease-out;

            @media screen and (max-width: 500px) {
                height: 180px;
            }

            img {
                min-height: 100%;
                min-width: 100%;
                /* IE 8 */
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                /* IE 5-7 */
                filter: alpha(opacity=0);
                /* modern browsers */
                opacity: 0;
                filter: grayscale(0.0);
                -moz-transition: filter 200ms ease-out;
                -webkit-transition: filter 200ms ease-out;
                -o-transition: filter 200ms ease-out;
                transition: filter 200ms ease-out;
            }
        }

        .center &:hover {
            height: 350px;
            -moz-transition: height 200ms ease-out;
            -webkit-transition: height 200ms ease-out;
            -o-transition: height 200ms ease-out;
            transition: height 200ms ease-out;
            
            .thumbnailContainer {
                height: 100px;
                -moz-transition: height 200ms ease-out;
                -webkit-transition: height 200ms ease-out;
                -o-transition: height 200ms ease-out;
                transition: height 200ms ease-out;
                
                img {
                    filter: grayscale(0.8);
                    -moz-transition: filter 200ms ease-out;
                    -webkit-transition: filter 200ms ease-out;
                    -o-transition: filter 200ms ease-out;
                    transition: filter 200ms ease-out;
                }
            }
        }

        .description {
            padding: 10px;
            text-align: left;
            color: #555555;
            font-size: 13px;
        }
    }
}

.footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #424751;
    padding: 15px;
    padding-left: 30px;
    width: 100%;

    .copyright {
        color: white;
    }
}